/******************************************************************
Site Name: The Lovely Geek 2018
Author: Cristina Robinson

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #323944;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        rgba(0, 0, 0, 0.60);

$meta-gray:         #999999;

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$sb-blue:          #0088cc;
$sb-dark-blue:     #004466;
$sb-purple:        #CC0099;
$sb-orange:        #F05A28;
$sb-dark-orange:   #B4441E;
$sb-red:           #f23e2f;
$sb-black:         #111111;
$sb-grey:          #808080;

$tlg-gold:         #C6893F; /* PMS 7510 c */
$tlg-main-aqua:	   #88DBDF; /* PMS 318 c */
$tlg-light-aqua:   rgba($tlg-main-aqua, 0.20);
$tlg-lightest-aqua: #f2fafb;
$tlg-dark-aqua:		#009CA6; /* PMS 320 c */

$link-color:        $tlg-gold;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;


/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
