/******************************************************************
Site Name: The Lovely Geek 2018
Author: Cristina Robinson

Stylesheet: Form Styles

We put all the form and button styles in here to setup a consistent
look. If we need to customize them, we can do this in the main
stylesheets and just override them. Easy Peasy.

You're gonna see a few data-uri thingies down there. If you're not
sure what they are, check this link out:
http://css-tricks.com/data-uris/
If you want to create your own, use this helpful link:
http://websemantics.co.uk/online_tools/image_to_data_uri_convertor/

******************************************************************/

/*********************
INPUTS
*********************/

// setting up defaults
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
    display: block;
    background-color:$white;
    font-family:$serif;
    color:$meta-gray;
    border:0;
    padding:10px;

    // a focused input (or hovered on)
    &:focus,
    &:active {}

    // end hover or focus

    // error notification
    &.error,
    &.is-invalid {}

    // end invalid input

    // success notification
    &.success,
    &.is-valid {}

    // end valid input

    // a disabled input
    &[disabled],
    &.is-disabled {
        opacity: 0.6;
        cursor: not-allowed;

        &:focus,
        &:active {}

        // end disabled focus
   
    }

    // end disabled input
}

// end input defaults

// spacing out the password (thx @murtaugh)
input[type="password"] {
    letter-spacing: 0.3em;
}

// textareas
textarea {
    max-width: 100%;
}

// selects 
// Commented out as this was making drop-downs wonky. I may remove it
// select {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
// }

fieldset {
    

    label {
        font-weight: 600;
    }

    p {
        margin-bottom: 0;
    }
}

legend {
    padding: 0 0.5em;
}

.radio-buttons {
    margin-top: 0;

    li {
        margin-left: 2px;
        list-style-type: none;
    }

    label {
        font-weight: normal;
    }
}

select {
	-webkit-appearance: none; /* 1 */
	-moz-appearance: none;
	appearance: none;
	width:100%;
	height:40px;
	background-image:url('../images/angle-down.svg');
	background-repeat: no-repeat;
	background-position: 97.5% center;
}

button.search-submit  {
    position: relative;
    float: right;
    padding: 0 12px;
    top: -5px;
    left: 0px;
    height: 40px;
    color:$link-color;
}

input[type="search"] {
	width: 100%;
    margin-bottom: -35px;
}

.search-form .search-submit {
	background-color: inherit;
	border: none;
}

input::placeholder {color:$meta-gray;}

#respond input, #respond textarea {border:1px solid rgba(0, 0, 0, .15)}

input[type="submit"] {
	@extend %button;
	border:0!important;
}

body .gform_wrapper .gform_body ul li {background:none; padding:0;}

body .gform_wrapper .gform_body .gform_fields .gfield  input, body .gform_wrapper .gform_body .gform_fields .gfield  textarea, body .gform_wrapper .gform_body .gform_fields .gfield  select, 
#commentform textarea, #commentform input[type="text"],
#commentform input[type="email"], #commentform input[type="url"],
.search-form-outer input[type="search"] {
	background-color:$tlg-light-aqua;
	border:none;
	height:40px;
}

#commentform label, .gform_wrapper .top_label .gfield_label {font-family:$sans; text-transform:uppercase; font-size:0.875em;}

#commentform p.comment-form-cookies-consent label {margin-left:5px; font-family:$serif; font-size:1em; text-transform:none;}

.search-form-outer {padding-bottom:40px;}

body .gform_wrapper .gform_body .gform_fields .gfield .ginput_container_email input[type="text"] {width:100%;}	