/******************************************************************
Site Name: The Lovely Geek
Author: Cristina Robinson

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
    width: 1040px;
}

.nav li {margin-left:3.125em;}

article.post {
	padding:1em;
}
	
.inner-article {
	padding:1.875em;
	background:$white;
}

.post-content {padding-left: 40px;}

.single {
	.hentry {padding:3em 13em;}
	.jetpack-portfolio, .jetpack-testimonial {padding:3em;}
}

.inner-page {padding:3em 13em;}
body.page-about .inner-page { padding:4em 4em 0;}

#shop-grid .grid-item {min-height:300px;}

ul.wpp-list li, ul.featured-posts li {
height:90px;			
}