/******************************************************************
Site Name: The Lovely Geek
Author: Cristina Robinson

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
    width: 1040px;
}

.nav li {margin-left:3.125em;}

article.post {
	padding:1em;
}
	
.inner-article {
	padding:1.875em;
	background:$white;
}

.post-content {padding-left: 40px;}

.single {
	.hentry {padding:3em 13em;}
}

.inner-page {padding:3em 13em;}