/******************************************************************
Site Name: The Lovely Geek
Author: Cristina Robinson

Stylesheet: Base Stylesheet

As the name implies, this is the base stylesheet. This will be
loaded by all devices and viewports so keep it as light as possible.

If you are using progressive enhancement, load styles that will be
only seen on tablets or desktops in the stylesheets targeted for
those viewpoints.

******************************************************************/

/*********************
GLOBAL STYLES
Use this section for
site-wide stuffs.
*********************/

html {
    font-size: 1em;

    // 1em = 16px; Adjust if you want a different baseline.
}

body {
    color: $text-color;
    font-size: 106.3%;
    font-family: $serif;
    line-height: 1.75;
    background-color:#E5F5F6;

    // Adjust for your type
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    // responsive images by default
    max-width: 100%;
    height: auto;
}

hr {
	border: 0;
    height: 1px;
    background: $tlg-main-aqua;
    background-image: linear-gradient(to right, $tlg-light-aqua, $tlg-main-aqua, $tlg-light-aqua);
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
    margin: 0 auto;
    width: 96%;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color:$link-color;
	text-decoration:none;
    /* on hover */
    &:hover, &:focus {color:$link-hover;}

    /* on click */
    &:active {}

    /* mobile tap color */
    &:link {
        /*
        this highlights links on iPhones/iPads.
        so it basically works like the :hover selector
        for mobile devices.
        */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    }
}

/******************************************************************
HEADING STYLES
******************************************************************/

/* While there are several frameworks for Sass web typography and
baselines like Sassline, Megatype and Gutenberg, those all seemed
overly complex. What I wanted was simple defaults that looked good
out of the box without a lot of calculations and segmented mixins.

After searching far and wide, I came across this:
http://type-scale.com which we used to get our base sizes.

*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 1.333em 0 0.5em;
    color: lighten($text-color, 12%);
    font-weight: 500;
    line-height: 1.2;
    text-rendering: optimizelegibility;

    /*
    if you're going to use webfonts, be sure to check your weights
    http://css-tricks.com/watch-your-font-weight/
    */

    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}

h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.319em;
    font-size: 3.157em;
    font-family: $serif;
    font-weight:300;
}

h2, .h2 {
    margin-top: 0.88em;
    font-size: 2.369em;
    font-weight:300;
    font-style:italic;
}

h3, .h3 {
    font-size: 1.777em;
    font-weight:300;
}

h4, .h4 {
    font-size: 1.333em;
    font-weight:400;
    font-family:$sans;
    text-transform:uppercase;
}

h5, .h5 {
    font-size: 1em;
    font-family:$sans;
    text-transform:uppercase;
    font-weight:600;
}

h6, .h6 {
    font-weight:600;
    font-size:1em;
}

/*********************
HEADER STYLES
*********************/

.header {
    background-color:#fff;
    box-shadow: 0 1px 3px 0 rgba(179,225,229,0.50);
}

#site-title {
    font-size: 3em;
}

#banner {
    .header-image {}
}

#logo {
	img {
		display: block;
		margin: 0 auto 20px auto;
		padding:10px 0 0 0;
	}
}

/*********************
LIST STYLES
*********************/

ul, ol {
    // removes default list padding in Safari + Chrome
    -webkit-padding-start: 20px;
}

.list-square {
    // add this class to your <ul> to get square bullets
    margin-bottom: 1.5em;
    list-style-position: outside;
    list-style-type: square;
}

.nostyle {
    // add this class to <ul> elements that aren't lists per se (removes bullets)
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

ul.wpp-list li, ul.featured-posts li {
		border-bottom:1px solid $tlg-light-aqua; 
		padding:20px;
		list-style:none;				
}
	
ul.featured-posts li {
	overflow: hidden;
    float: none;
    clear: both;
    }	
	
ul.featured-posts li img {
	display: inline;
    float: left;
    margin: 0 5px 0 0;
    border: none;
    }
    
img.wpp-thumbnail, img.wpp_cached_thumb wpp_featured, ul.featured-posts li img {vertical-align: middle; border-radius: 50%; max-width: 50px;} 

.related-posts {
	background:$white;
	padding:0px 40px 30px 50px;
	margin-top:40px;
	
	h3 {text-align:center; padding-bottom:15px;}
	.related-post img {margin-bottom: -26px;}
	.related-post p {background:$tlg-main-aqua; padding:30px; min-height: 120px;}
	.related-post p a {color:$white; font-family:$sans; text-transform:uppercase; font-weight:600;}
}	
	

/*********************
NAVIGATION STYLES
*********************/

/* Where did the nav menu go?
Navigation styles for mobile are now in 767down.scss
if you need them.

We almost always use the Responsive Menu plugin:
https://wordpress.org/plugins/responsive-menu/ for mobile
menus but those selectors are there if you want to use the
default menu.

For your main navigation, styles are in 768up.scss.
*/

nav {    
	font-family: $sans;
	text-transform:uppercase;
	font-weight:600;
	text-align:center;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}

/* for sites that are read right to left (i.e. hebrew) */
.home {}

/* home page */
.blog {}

/* blog template page */
.archive {}

/* archive page */
.date {}

/* date archive page */
.date-paged-1 {}

/* replace the number to the corresponding page number */
.search {}

/* search page */
.search-results {}

/* search result page */
.search-no-results {}

/* no results search page */
.search-paged-1 {}

/* individual paged search (i.e. body.search-paged-3) */
.error404 {background:$tlg-light-aqua;}

/* 404 page */
.single {
	.hentry {padding:50px; background-color:$white;}
}

/* single post page */
.postid-1 {}

/* individual post page by id (i.e. body.postid-73) */
.single-paged-1 {}

/* individual paged single (i.e. body.single-paged-3) */
.attachment {}

/* attatchment page */
.attachmentid-1 {}

/* individual attatchment page (i.e. body.attachmentid-763) */
.attachment-mime-type {}

/* style mime type pages */
.author {}

/* author page */
.author-nicename {}

/* user nicename (i.e. body.author-samueladams) */
.author-paged-1 {}

/* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}

/* category page */
.category-1 {}

/* individual category page (i.e. body.category-6) */
.category-paged-1 {}

/* replace the number to the corresponding page number */
.tag {}

/* tag page */
.tag-slug {}

/* individual tag page (i.e. body.tag-news) */
.tag-paged-1 {}

/* replace the number to the corresponding page number */
.page-template {}

/* custom page template page */
.page-template-page-php {}

/* individual page template (i.e. body.page-template-contact-php */
.page-paged-1 {}

/* replace the number to the corresponding page number */
.page-parent {}

/* parent page template */
.page-child {}

/* child page template */
.parent-pageid-1 {}

/* replace the number to the corresponding page number */
.logged-in {}

/* if user is logged in */
.paged {}

/* paged items like search results or archives */
.paged-1 {}

/* individual paged (i.e. body.paged-3) */

/*********************
POSTS & CONTENT STYLES
*********************/

#select-categories {
	background:$white; 
	padding:40px;
	
	h5 {text-align:center;}
}

#content {margin-top:10px;}

article.post, #spotlight, article.page, article#post-not-found {
	border:3px solid $white;
	margin-bottom:40px;
	padding:1em;
}
	
article .inner-article, #inner-spotlight, .inner-page {
	background-color:$white;
	padding:1.875em;
}

.post-content p.header-category, .post-content h1 {text-align:left;}	

#filters {margin-bottom:40px; text-align:center;}

#spotlight {margin-top: 40px;}

.grid-item img {padding:15px;}
 

.hentry {
// 	background-color:$white; padding:15px;
	
    header {}

    footer {}
}

.header-category {
	text-align:center;
    font-weight:600;
    font-family:$sans;
    text-transform:uppercase;
    
    a {text-decoration:none;}	
	}

/* end .hentry */

.single-title,
.page-title,
.entry-title,
article#post-not-found h1 {
	text-align: center;
	font-style:normal;
	}

.search-title {text-align:left;}

.single-title {}

.page-title {}

.entry-title {}

.archive-title {font-style:normal;}

.taxonomy-description {text-align:center; padding: 0 50px;}

/* want to style individual post classes? Booya! */
.post-id {}

/* post by id (i.e. post-3) */
// .post {background-color:$white; padding:15px;}

/* general post style */
.page {}

/* general article on a page style */
.attachment {}

/* general style on an attatchment */
.sticky {}

/* sticky post style */
.hentry {}

/* hentry class */
.category-slug {}

/* style by category (i.e. category-videos) */
.tag-slug {}

/* style by tag (i.e. tag-news) */

/* post meta */
.byline {
    time {}
}

/* entry content */
.entry-content {
    p {}

    ul, ol, table, dl {}

    ul, ol {
	    margin: 0 0 1.5em 1.75em;
	    list-style-type: none;
	    
        li {padding:0.25em 0;}
    }

    ul {
        li {
	        background-image: url(../images/bullet.svg);
			background-repeat: no-repeat;
			background-position: 0 8px;
			padding:3px 30px
        }
    }

    ol {
		list-style-type: none;
		margin: 0 0 2em 0;
		margin-left: 3em;
		padding: 0;
		counter-reset: li-counter;	    
        
        li {
	        position: relative;
			margin-bottom: 5px;
			padding-left: 0.5em;
			min-height: 0.5em;
			
			&:before {
				position: absolute;
				top: 0.2em;
				left: -2em;
				width: 1em;
				height: 1em;	     
				font-size: 1em;
				line-height: 1;
				font-weight: 500;
				text-align: center;
				color:$white;
				background-color:$tlg-main-aqua;
				border-radius:50%;
				padding:5px;	 
				content: counter(li-counter);
				counter-increment: li-counter;						
			}
        }
    }

    table {
        margin-bottom: 1.5em;
        width: 100%;
        border: 1px solid #ccc;

        caption {}
    }

    tr {
        border-bottom: 1px solid #ccc;

        &:nth-child(even) {
            background-color: #dedede;
        }
    }

    td {
        padding: 7px;
        border-right: 1px solid #ccc;

        &:last-child {
            border-right: 0;
        }
    }

    th {
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background-color: #dedede;

        &:last-child {
            border-right: 0;
        }
    }

    blockquote {
		margin: 0 0 1.5em 1.75em;
		padding: 0 0 0 0.75em;
		font-style: italic;
		color: $meta-gray;
		font-size:112.5%;
		position: relative;	    
        
        &:before {
			display: block;
			content: "\201C";
			font-size: 4.5em;
			position: absolute;
			left: -30px;
			top: -45px;
			color: $tlg-main-aqua;
        }
    }

    dl {}

    dt {}

    dd {
	    margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
    }

    img {
	    max-width: 100%;
		height: auto;
    }

    /*
    image alignment on a screen this size may be
    a bit difficult. It's set to start aligning
    and floating images at the next breakpoint,
    but it's up to you. Feel free to change it up.
    */
    .alignleft, img.alignleft {
   	 float: left;
   	 margin:0 15px 30px 0;
    }

    .alignright, img.alignright {
    	float: right;
		margin:0 0 30px 15px;	    
    }

    .aligncenter, img.aligncenter {
		display: block;
		margin: 0 auto 30px auto;
    }

    .size-auto,
    .size-full,
    .size-large,
    .size-medium,
    .size-thumbnail {
	    max-width: 100%;
	    height:auto;
		margin:0 0 30px 0;
    }

    pre {}

    code {}
}

/* end .entry-content */

.wp-caption {
    /* images inside wp-caption */
    max-width: 100%;
    
    img {}

    p.wp-caption-text {}
}

/* end .wp-caption */

/* image gallery styles */
.gallery {
    dl {
        a {}

        img {}
    }

    dt {}

    dd {}
}

/* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}

.size-large {}

.size-medium {}

.size-thumbnail {}

// the tag output
.tags {}

.post-navigation {
	
	p { background-color:$tlg-gold; color:$white;}

}

.previous_post_link, .next_post_link {
	a {@extend %button;}	
}

.previous_post_link {float:left;} /*older*/
.next_post_link {float:right;}		/*newer*/

.byline-wrap {
	text-align:center;
	font-family:$sans;
	text-transform: uppercase;
    margin-bottom: 10px;
	}

/******************************************************************
SCREEN READER STYLES
******************************************************************/

/* Text meant only for screen readers. */
.screen-reader-text {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

.screen-reader-text:focus {
    top: 5px;
    left: 5px;
    z-index: 100000;

    /* Above WP toolbar. */
    display: block;
    clip: auto !important;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    border-radius: 3px;
    background-color: #f1f1f1;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    color: #21759b;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.875rem;
    font-size: 14px;
    line-height: normal;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {}

.pagination {
    ul {}

    li {}

    a, span {
        &:hover, &:focus {}
    }

    .current {
        &:hover, &:focus {}
    }
}

/* end template_page_navi */

/* fallback previous & next links */
.wp-prev-next {
    ul {}

    .prev-link {
        float: left;
    }

    .next-link {
        float: right;
    }
}

/* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
    /* number of comments span */
    span {}
}

.comment-nav {
    ul {
        li {}
    }
}

.commentlist {
    margin: 0;
    list-style-type: none;
}

.comment {
	margin:30px 0;
    .comment-author {}

    /* vcard */
    .vcard {
	    img {
			vertical-align: middle;
			border-radius: 50%;
			max-width: 50px;
		}
	    
        cite.fn {
	        padding-left: 5px;
            a.url {}
        }

        time {
            a {
                &:hover {}
            }
        }

        .photo {}

        .avatar {}
    }

    /* end .commentlist .vcard */

    &:last-child {}

    .children {
        li {}

        /* variations */
        .comment {}

        .alt {}

        .odd {}

        .even {}

        .depth-1 {}

        /* change number for different depth */
        .byuser {}

        .bypostauthor {}

        .comment-author-admin {}
    }

    /* end children */

    &[class*=depth-] {}

    &.depth-1 {}

    &:not(.depth-1) {}

    &.depth-2 {}

    &.depth-3 {}

    &.depth-4 {}

    &.depth-5 {}

    /* general comment classes */
    &.alt {}

    &.odd {}

    &.even {}

    &.parent {}

    &.comment {background:$white; padding:20px;}

    &.children {}

    &.pingback {}

    &.bypostauthor {}

    &.comment-author {}

    &.comment-author-admin {background:$tlg-lightest-aqua;}

    &.thread-alt {}

    &.thread-odd {}

    &.thread-even {}
}

/* comment meta */
.comment-meta {
    a {}
}

.commentmetadata {
    a {}
}

/* comment content */
.comment_content {
    p {}
}

/* end .commentlist .comment_content */

/* comment reply link */
.comment-reply-link {
    &:hover,
    &:focus {}
}

/* end .commentlist .comment-reply-link */

/* edit comment link */
.comment-edit-link {}

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {}

#reply-title {}

.logged-in-as {}

.comment-form-comment {}

.form-allowed-tags {}

/* comment submit button */
#submit {}

/* comment form title */
#comment-form-title {}

/* cancel comment reply link */
#cancel-comment-reply {
    a {}
}

/* logged in comments */
.comments-logged-in-as {}

/* allowed tags */
#allowed_tags {}

/* no comments */
.nocomments {}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

.widgettitle {}

.widget {
    ul {
        li {
            &:first-child {}

            &:last-child {}

            a {}

            /* deep nesting */
            ul {}
        }
    }
}

.no-widgets {}

/*********************
FOOTER STYLES
*********************/

.subfooter, .favorite-things {
	background:$white;
	text-align:center;
	margin-top:50px;
}

.favorite-things ul {
	list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    clear: both;
    
    li {
		display: inline-block;
		padding: 0;
		margin: 0 0 2.5% 1.5%;
		
		a {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
    	}
    }
    
    img {
		max-width: 100% !important;
	    height: auto !important;
	    margin: 0 !important;
	    border: 0 !important;
	    vertical-align: top;
	    width:150px;
    }	    
    
}    

#inner-subfooter {
	padding:10px 0 40px 0;
}

.jr-insta-thumb ul.thumbnails li {
	margin: 0 0 2.5% 1.5%;
}

#inner-footer, #inner-favorite-things {
	padding: 20px 0;
}		

.footer {
    clear: both;
    font-size:16px;
    text-align:center;
}

.footer-links {
	text-align:center;
    ul {
	    display: inline-block;
        li {}
    }
}

.footer-tags {color: $meta-gray;}

.fab, .fas, .far {padding: 0 10px;}

/* end .footer-links */

.copyright {}